language: python
python:
  - "3.4"
  - "3.6"

install:
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt

script:
  - set -e
  - pytest
#  - flake8 # TODO: https://github.com/devopshq/teamcity/issues/3

deploy:
  provider: pypi
  user: devopshq
  password:
    secure: YpVKSjUXtBcERUZUEo+S6nrzeAmWW4A66hQi+mZzX9plz0vBitK0052GnciKtcBpyZ16sx/u7ADwreEHgkZp+p0pos1l9Yombqagbr+twX6FfWrHc+65PWjS9ZiZadOswP7+LCwd248wYyInyMB4m7CYxElkcs5PDvgfFI5J66chDf2vu252PGDYHS6t8P3nWErxlWXIwRjQKq0jlh7w1Sz/anw0IgRd3FBIugPlXRjGzXGoxHK5yH5Sbg6Q3fLPYdGdTOu33C32lATuhaG6SqOqaOjFrvIVSclRX3dxDzbiVpm8pDfa7BIn3KdL2wKZn6b8qrAGSUTMyla3vUN+6f4ro8TpHtc2157WS7XrMo+nhqrePgzmn3/2AcuDDl+rpNIPXKrzV8cLEdS52gytTLdkBCMqv+BIEJqh7oa+lDVhzM+ShtSly1DTHzKsN+/VStGEK7vMkQDtXw4wlVV5t6UdEUmd0A1mZ4HHWthO3ORPc/1EszXBKJIr1gHhLl/WhNMu6C+dIPlTq5zQA50xf/V5vIRuqiw5f9y+d1Xmzop0ZYgwXDVnoAoKpLwFhxfeBiYD1BQ6M6BUIsQiUWDQ038i+NPyFBpp4epOwF8rA0DLg1dx011ZOAFZqvx0fp/FRsfoJ0VjEAZpdZqt3NjudGwzZ+ZSVAuQzWnzOxpy2as=
  distributions: sdist bdist_wheel
  skip_cleanup: false
  on:
    branch: master
    python: '3.4'
